redirectMatch 301 ^/index.php/es/info-acad-preg/plan-de-estudios$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/$ https://mecanicapre.uniandes.edu.co/
redirectMatch 301 ^/index.php/es/recurso-humano/profesoresrh$ https://mecanicapre.uniandes.edu.co/es/departamento/profesores
redirectMatch 301 ^/index.php/es/programas-666/aspirantes$ https://mecanicapre.uniandes.edu.co/es/estudiantes
redirectMatch 301 ^/index.php/es/menulaboratorios$ https://mecanicapre.uniandes.edu.co/es/laboratorios/informacion-general
redirectMatch 301 ^/index.php/es/info-acad-preg/plan-de-estudios/electivas-preg$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/aspirantes-846/pregrado$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/labs$ https://mecanicapre.uniandes.edu.co/es/laboratorios/nuestros-laboratorios
redirectMatch 301 ^/index.php/es/programas-666/maestria$ https://mecanicapre.uniandes.edu.co/es/estudiantes
redirectMatch 301 ^/index.php/es/recurso-humano/personal-de-laboratorios$ https://mecanicapre.uniandes.edu.co/es/organigrama
redirectMatch 301 ^/index.php/es/costos$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/reglas-de-seguridad/cursos-sisoma$ https://mecanicapre.uniandes.edu.co/es/laboratorios/reglas-de-seguridad/cursos-simec
redirectMatch 301 ^/index.php/es/noticias/857-cursos-intersemestrales-2019$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/en/$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/aspirantes-846/maestria-en-ingenieria-mecanica$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/743-instalacion-y-funcionamiento-maquina-universal-de-ensayos$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/costos/costos-de-la-matricula$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/admisiones-maestria/proceso-inscrip$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias$ https://mecanicapre.uniandes.edu.co/es/noticias
redirectMatch 301 ^/index.php/es/info-acad-preg/plan-de-estudios/proyecto-de-grado$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/proyecto-de-grado
redirectMatch 301 ^/index.php/es/reglas-de-seguridad$ https://mecanicapre.uniandes.edu.co/es/laboratorios/reglamento-obligatorio-de-seguridad
redirectMatch 301 ^/index.php/es/proyectos-de-investigacion$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion
redirectMatch 301 ^/index.php/es/informacion-academica-879/cursos$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/por-que-estudiar-ingenieria-mecanica-en-la-universidad-de-los-andes$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/investigacion/grupos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion
redirectMatch 301 ^/index.php/es/informacion-programa-aspirantes$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/servicios-a-externos$ https://mecanicapre.uniandes.edu.co/es/laboratorios/servicios-externos
redirectMatch 301 ^/index.php/es/recurso-humano/personal-administrativo$ https://mecanicapre.uniandes.edu.co/es/organigrama
redirectMatch 301 ^/index.php/es/2015-07-24-19-21-26/practicas-academicas$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/practicas-y-pasantias-academicas
redirectMatch 301 ^/index.php/es/procesos-academicos/revision-carpeta$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/avance-en-el-programa
redirectMatch 301 ^/index.php/es/profesores-del-depto$ https://mecanicapre.uniandes.edu.co/es/departamento/profesores
redirectMatch 301 ^/index.php/es/personal-administrativo$ https://mecanicapre.uniandes.edu.co/es/organigrama
redirectMatch 301 ^/index.php/es/matriculas-y-apoyo-financiero$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/2015-07-15-21-31-29/software-y-tecnologia$ https://mecanicapre.uniandes.edu.co/es/departamento/infraestructura/software-y-tecnologia
redirectMatch 301 ^/index.php/es/informacion-academica-879/estructura-curricular$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/info-acad-preg/2015-07-24-16-23-20$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/servicios-internos1$ https://mecanicapre.uniandes.edu.co/es/laboratorios/servicios-internos
redirectMatch 301 ^/index.php/es/admisiones-maestria/cronogramas-admisi$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/menulaboratorios/68-laboratorios$ https://mecanicapre.uniandes.edu.co/es/laboratorios/servicios-internos
redirectMatch 301 ^/index.php/es/inicio-1/45-programas/pregrado/484-tablaprerequisitos$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/procesos-academicos/consejeria$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/consejeria
redirectMatch 301 ^/index.php/es/inicio-1/72-uncategorised/612-electivas-en-matematicas$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/prueba-intranet$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/conver-info$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/conversion-de-energia/informacion-general
redirectMatch 301 ^/index.php/es/noticias/651-laboratorio-de-manufactura-nuevo-proceso-para-prestamo-de-servicios$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/egresado$ https://mecanicapre.uniandes.edu.co/es/departamento/egresados
redirectMatch 301 ^/index.php/es/noticias/812-escuela-de-verano-2018$ https://mecanicapre.uniandes.edu.co/es/estudiantes/escuela-internacional-de-verano
redirectMatch 301 ^/index.php/es/inicio-1/56-recurso-humano/profesores$ https://mecanicapre.uniandes.edu.co/es/departamento/profesores
redirectMatch 301 ^/index.php/es/reglas-de-seguridad/52-laboratorios/laboratorio$ https://mecanicapre.uniandes.edu.co/es/laboratorios/nuestros-laboratorios
redirectMatch 301 ^/index.php/es/mecanica-computacional-info$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/mecanica-computacional/informacion-general
redirectMatch 301 ^/index.php/es/informacion-programa-estudiantes$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/recurso-humano$ https://mecanicapre.uniandes.edu.co/es/un-departamento-unico
redirectMatch 301 ^/index.php/es/2015-07-24-19-21-26/salidas-academicas$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/salidas-academicas
redirectMatch 301 ^/index.php/es/noticias/855-escuela-internacional-de-verano-2019$ https://mecanicapre.uniandes.edu.co/es/estudiantes/escuela-internacional-de-verano
redirectMatch 301 ^/index.php/es/noticias/784-juan-pablo-casas-nuevo-director-del-departamento$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/materiales-info$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/materiales-y-manufactura/informacion-general
redirectMatch 301 ^/index.php/es/dinamica-info-general$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/dinamica-de-maquinaria/informacion-general
redirectMatch 301 ^/index.php/es/informacion-academica-879$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/personal-laboratorios$ https://mecanicapre.uniandes.edu.co/es/organigrama
redirectMatch 301 ^/index.php/en/aspirantes-847/program-information$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/materiales-inves$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/materiales-y-manufactura/investigadores
redirectMatch 301 ^/index.php/es/costos/asistencias-graduadas$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/846-electivas-imec-2019-1$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/investigacion/proyectos-de-investigacion$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/infra-preg/software-y-tecnologia$ https://mecanicapre.uniandes.edu.co/es/departamento/infraestructura/software-y-tecnologia
redirectMatch 301 ^/index.php/es/procesos-academicos/homologaciones$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/homologaciones
redirectMatch 301 ^/index.php/es/procesos-academicos/grados$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/grados
redirectMatch 301 ^/index.php/es/2015-07-24-19-21-26/monitorias$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/monitorias
redirectMatch 301 ^/index.php/es/component/users/?view=login$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/procesos-academicos/examen-saber-pro$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/examen-saber-pro
redirectMatch 301 ^/index.php/es/noticias/818-cursos-intersemestrales-2018$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/mecanica-computacional-lineas-investigacion$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/mecanica-computacional/lineas-de-investigacion
redirectMatch 301 ^/index.php/es/noticias/864-talleres-de-formacion-tecnica-complementaria-periodo-vacacional-2019$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/integridad-info$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/integridad-estructural/informacion-general
redirectMatch 301 ^/index.php/es/info-acad-preg/elaboracion-de-horarios$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/conver-inves$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/conversion-de-energia/investigadores
redirectMatch 301 ^/index.php/es/2015-07-24-19-21-26/doble-titulacion$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/doble-titulacion
redirectMatch 301 ^/index.php/es/grupos/materiales-informacion$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/materiales-y-manufactura/informacion-general
redirectMatch 301 ^/index.php/es/grupos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion
redirectMatch 301 ^/index.php/es/procesos-academicos/proyecto-de-grado$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/proyecto-de-grado
redirectMatch 301 ^/index.php/es/conver-lineas$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/conversion-de-energia/lineas-de-investigacion
redirectMatch 301 ^/index.php/es/grupos/mecanica-computacional-info-general$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/mecanica-computacional/informacion-general
redirectMatch 301 ^/index.php/es/2015-07-24-19-21-26/opcion-academica$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/opcion-academica
redirectMatch 301 ^/index.php/es/inicio-1/52-laboratorios/laboratorio/507-laboratorio-de-manufactura$ https://mecanicapre.uniandes.edu.co/es/laboratorios/nuestros-laboratorios
redirectMatch 301 ^/index.php/es/grupos/conver-general$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/conversion-de-energia/informacion-general
redirectMatch 301 ^/index.php/es/2015-07-15-21-31-29/laboratorios$ https://mecanicapre.uniandes.edu.co/es/laboratorios/nuestros-laboratorios
redirectMatch 301 ^/index.php/es/grupos/integri-estruct$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/integridad-estructural/informacion-general
redirectMatch 301 ^/index.php/es/2015-07-30-16-35-01/2015-07-30-16-39-29$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/817-electivas-ingenieria-mecanica-2018-2$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/nuestras-instalaciones$ https://mecanicapre.uniandes.edu.co/es/un-departamento-unico
redirectMatch 301 ^/index.php/es/inicio-1/55-recurso-humano/personal$ https://mecanicapre.uniandes.edu.co/es/organigrama
redirectMatch 301 ^/index.php/es/noticias/729-laboratorios-infraestructura-y-equipos$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/722-nueva-coordinadora-academica$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/informacion-academica-879/areas-de-investigacion$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion
redirectMatch 301 ^/index.php/en/2017-05-12-14-58-40/professors$ https://mecanicapre.uniandes.edu.co/es/departamento/profesores
redirectMatch 301 ^/index.php/es/2015-07-24-19-21-26/doble-programa$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/doble-programa
redirectMatch 301 ^/index.php/es/noticias/817-electivas-ingenieria-mecanica-2018-2/$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/inicio-1/52-laboratorios/laboratorio/506-laboratorio-de-materiales-e-integridad-estructural$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/info-acad-preg/plan-de-estudios/45-programas/pregrado$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/dinamica-invest$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/dinamica-de-maquinaria/investigadores
redirectMatch 301 ^/index.php/es/2015-07-15-21-17-24/pasantia$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/practicas-y-pasantias-academicas
redirectMatch 301 ^/index.php/es/escuela-int-verano$ https://mecanicapre.uniandes.edu.co/es/estudiantes/escuela-internacional-de-verano
redirectMatch 301 ^/index.php/es/noticias/821-talleres-de-formacion-tecnica-complementaria-junio-y-julio-2018$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/2015-07-15-21-17-24/inter-master$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/intercambio-internacional
redirectMatch 301 ^/index.php/es/noticias/820-el-futuro-de-la-robotica-en-colombia$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/inicio-1/45-programas/pregrado/466-electivas-en-fundamentos-de-ingenieria$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/investigacion/45-programas/pregrado/466-electivas-en-fundamentos-de-ingenieria$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/noticias/869-electivas-imec-2019-2/$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/maestria
redirectMatch 301 ^/index.php/es/2015-07-30-14-15-56$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/801-ingenieria-para-el-posconflicto$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/escuela-internacional-de-verano-pregrado$ https://mecanicapre.uniandes.edu.co/es/estudiantes/escuela-internacional-de-verano
redirectMatch 301 ^/index.php/es/noticias/714-nuevo-investigador-posdoctoral$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/programas-666/maestria/45-programas/pregrado/466-electivas-en-fundamentos-de-ingenieria$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/inicio-1/68-laboratorios$ https://mecanicapre.uniandes.edu.co/es/laboratorios/servicios-internos
redirectMatch 301 ^/index.php/es/inicio-1/45-programas/pregrado$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/846-electivas-imec-2019-1/$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/conver-cursos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/conversion-de-energia/cursos
redirectMatch 301 ^/index.php/es/representacion-estudiantil$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/representacion-estudiantil
redirectMatch 301 ^/index.php/es/contactenos$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/labs/52-laboratorios/laboratorio$ https://mecanicapre.uniandes.edu.co/es/laboratorios/nuestros-laboratorios
redirectMatch 301 ^/index.php/es/noticias/841-curso-gestion-de-activos-mantenimiento-y-confiabilidad$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/info-acad-preg/plan-de-estudios/cursos-reglamentados$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/maestriap$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/745-nuestros-estudiantes-visitaron-la-central-hidroelectrica-de-chivor$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/calidad/politica-de-calidad$ https://mecanicapre.uniandes.edu.co/es/laboratorios/sistema-de-calidad/politicas-de-calidad
redirectMatch 301 ^/index.php/es/informacion-academica-879/cursos/electivas$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/maestria
redirectMatch 301 ^/index.php/es/noticias/777-hacia-el-limite-de-la-resistencia-mecanica-de-los-materiales$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/nuestraspublicaciones$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/806-aplicacion-de-los-metodos-numericos-en-ingenieria-utilizacion-de-combustible-diesel-y-gas-natural-en-motores-de-combustion-interna-encendidos-por-compresion$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/2015-07-24-19-21-26/grupos-de-investigacion$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion
redirectMatch 301 ^/index.php/es/noticias/827-perspectivas-y-retos-de-la-ingenieria-en-colombia$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/acreditacion-alta-calidad-est-maestria$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/procesos-academicos/saber-pro-856$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/examen-saber-pro
redirectMatch 301 ^/index.php/es/materiales-recursos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/materiales-y-manufactura/laboratorios
redirectMatch 301 ^/index.php/es/noticias/695-omar-dario-lopez-profesor-asociado-de-la-facultad$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/869-electivas-imec-2019-2$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/maestria
redirectMatch 301 ^/index.php/es/noticias/646-nuevas-laboratorio-de-manufactura-aditiva-prototipado-3d-en-ingenieria-mecanica$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/inicio-1/68-laboratorios/572-servicios-internos$ https://mecanicapre.uniandes.edu.co/es/laboratorios/servicios-internos
redirectMatch 301 ^/index.php/es/dinamica-cursos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/dinamica-de-maquinaria/cursos
redirectMatch 301 ^/index.php/es/integridad-invest$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/integridad-estructural/investigadores
redirectMatch 301 ^/index.php/es/noticias/810-nuevas-tecnologias-de-la-4ta-revolucion-industrial-hacia-los-sistemas-productivos-del-futuro$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/pregrado-en-ingenieria-mecanica$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/en/aspirantes-847/curricular-structure$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/mecanica-computacional-investigadores$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/mecanica-computacional/investigadores
redirectMatch 301 ^/index.php/es/grupos/dinamica-info-general$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/dinamica-de-maquinaria/informacion-general
redirectMatch 301 ^/index.php/es/noticias/831-un-robot-para-la-exploracion-espacial$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/847-nombramiento-de-jairo-escobar-como-profesor-titular$ https://mecanicapre.uniandes.edu.co/es/noticia/profesores/nombramiento-de-jairo-escobar-como-profesor-titular
redirectMatch 301 ^/index.php/es/noticias/862-visita-guiada-general-motors$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/2015-07-15-21-17-24/2015-07-15-21-57-24$ https://mecanicapre.uniandes.edu.co/es/estudiantes/oportunidades/doble-programa
redirectMatch 301 ^/index.php/es/inicio-1/72-uncategorised/691-mecanica-computacional-cursos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/mecanica-computacional/cursos
redirectMatch 301 ^/index.php/es/integridad-cursos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/integridad-estructural/cursos
redirectMatch 301 ^/index.php/es/informacion-academica-879/cursos/obligatorios$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/759-escuela-de-verano-2017$ https://mecanicapre.uniandes.edu.co/es/estudiantes/escuela-internacional-de-verano
redirectMatch 301 ^/index.php/es/programas/maestria/informacion-academica/tesis/67-programas$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/747-infraestructura-y-equipos-sistemas-de-digitalizacion-3d$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/754-cimm-2017$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/837-tecnologias-de-almacenamiento-termico-y-mecanismos-eficientes-de-transferencia-de-calor-para-el-uso-sostenible-de-la-energia$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/783-tutor-ciclo-rankine$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/info-acad-preg/plan-de-estudios/67-programas$ https://mecanicapre.uniandes.edu.co/es/pregrado-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/mecanica-cursos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/mecanica-computacional/cursos
redirectMatch 301 ^/index.php/es/noticias/774-laura-suarez-nueva-incorporacion-al-cuerpo-profesoral$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/877-foro-fracking-en-colombia$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/716-co-requisitos-cursos-sisoma$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/dinamica-lineas$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/dinamica-de-maquinaria/lineas-de-investigacion
redirectMatch 301 ^/index.php/es/informacion-academica-879/cursos/tesis$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/materiales-cursos$ https://mecanicapre.uniandes.edu.co/es/grupos-de-investigacion/materiales-y-manufactura/cursos
redirectMatch 301 ^/index.php/en/labs$ https://mecanicapre.uniandes.edu.co/es/laboratorios/nuestros-laboratorios
redirectMatch 301 ^/index.php/es/noticias/700-avances-de-investigacion-en-ingenieria-mecanica$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/850-talleres-de-formacion-tecnica-complementaria-febrero-2019$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/844-estudiantes-admitidos-maestria-en-ingenieria-mecanica-2019-1$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/noticias/789-electivas-imec-2018-1$ https://mecanicapre.uniandes.edu.co/es/estudiantes/electivas/pregrado
redirectMatch 301 ^/index.php/es/noticias/719-laboratorios-capacitacion-para-tecnicos-de-laboratorio-jose-nieto$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/procesos-academicos/reingreso-y-reintegro$ https://mecanicapre.uniandes.edu.co/es/estudiantes/procesos-academicos/reingreso-reintegro
redirectMatch 301 ^/index.php/es/labs/68-laboratorios$ https://mecanicapre.uniandes.edu.co/es/laboratorios/servicios-internos
redirectMatch 301 ^/index.php/es/2015-07-15-21-29-46/ciclo-de-tesis$ https://mecanicapre.uniandes.edu.co/es/maestria-ingenieria-mecanica
redirectMatch 301 ^/index.php/es/noticias/799-la-asistencia-de-las-simulaciones-computacionales-en-el-desarrollo-de-una-nueva-tecnologia-de-generacion-renovable$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/inicio-1/45-programas/pregrado/470-descripcion-de-materias$ https://mecanicapre.uniandes.edu.co
redirectMatch 301 ^/index.php/es/nuestras-instalaciones/45-programas/pregrado$ https://mecanicapre.uniandes.edu.co/es/departamento/infraestructura/software-y-tecnologia
